# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
cfg.py

# Byte-compiled / optimized / DLL files
.vscode/
__pycache__/
*.py[cod]


/gallina
pynb/w5-6/meta_climate.csv
